/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

/ {

    keymap {
        compatible = "zmk,keymap";

        default_layer {
// ------------------------------------------------------------------------------------------------------------
// |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
// |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
// |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   |   [   |   |   ]   |  N   |  M    |  ,    |  .   |   /   | SHIFT |
//                     | ALT  | GUI  | LOWER|  SPACE |   | BSPC  | RAISE| ENTER |  FN   |
            bindings = <
&kp ESC   &kp N1 &kp N2 &kp N3   &kp N4   &kp N5                     &kp N6 &kp N7   &kp N8    &kp N9  &kp N0   &kp GRAVE
&kp TAB   &kp Q  &kp W  &kp E    &kp R    &kp T                      &kp Y  &kp U    &kp I     &kp O   &kp P    &kp MINUS
&kp LCTRL &kp A  &kp S  &kp D    &kp F    &kp G                      &kp H  &kp J    &kp K     &kp L   &kp SEMI &kp SQT
&kp LSHFT &kp Z  &kp X  &kp C    &kp V    &kp B  &kp LBKT   &kp RBKT &kp N  &kp M    &kp COMMA &kp DOT &kp FSLH &kp RSHFT
                        &kp LALT &kp LGUI &mo 1  &kp SPACE  &kp BSPC &mo 2  &kp RET  &mo 3
            >;

            /* ENCODERS: Left = PgUp/Dn (Logs), Right = Undo/Redo (Code) */
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>, <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
// ------------------------------------------------------------------------------------------------------------
// | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
// |       |     |     |      |      |      |                   |      |       |       |      |       |       |
// |       |     |     |      |      |      |                   |      |   [   |   ]   |      |       |   |   |
// |       |     |     |      |      |      |       |   |       |      |       |   [   |   ]  |   =   |       |
//                     |      |      |      |       |   |  DEL  |      |       |       |
            bindings = <
&bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4                 &trans    &trans    &trans    &trans    &trans    &trans
&trans     &trans       &trans       &trans       &trans       &trans                       &trans    &trans    &trans    &trans    &trans    &trans
&trans     &trans       &trans       &trans       &trans       &trans                       &trans    &kp LBKT  &kp RBKT  &trans    &trans    &kp PIPE
&trans     &trans       &trans       &trans       &trans       &trans    &trans   &trans    &trans    &trans    &kp LBKT  &kp RBKT  &kp EQUAL &trans
                                     &trans       &trans       &trans    &trans   &kp DEL   &trans    &trans    &trans
            >;
            
            /* ENCODERS: Standard Volume & Page Scroll on this layer */
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        raise_layer {
// ------------------------------------------------------------------------------------------------------------
// |       |     |     |      |      |      |                   |      |       |       |      |       |       |
// |       |     |     |      |      |      |                   |      |       |       |      |       |       |
// |       |     |     |      |      |      |                   |  <-  |   v   |   ^   |  ->  |       |   \   |
// |       |     |     |      |      |      |       |   |       |  +   |   -   |   {   |   }  |   +   |       |
//                     |      |      |      |       |   |       |      |       |       |
            bindings = <
&trans     &trans &trans &trans &trans &trans                       &trans    &trans    &trans    &trans    &trans    &trans
&trans     &trans &trans &trans &trans &trans                       &trans    &trans    &trans    &trans    &trans    &trans
&trans     &trans &trans &trans &trans &trans                       &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT &trans    &kp BSLH
&trans     &trans &trans &trans &trans &trans    &trans   &trans    &kp PLUS  &kp MINUS &kp LBRC  &kp RBRC  &kp PLUS  &trans
                         &trans &trans &trans    &trans   &trans    &trans    &trans    &trans
            >;

            /* ENCODERS: Standard Volume & Page Scroll on this layer */
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        function_layer {
// ------------------------------------------------------------------------------------------------------------
// |       |  F1 |  F2 |  F3  |  F4  |  F5  |                   |  F6  |  F7   |  F8   |  F9  |  F10  |       |
// |       |     |     |      |      |      |                   |  F11 |  F12  |       |      | PSCRN |       |
// |       | PREV| NEXT|      |      |      |                   |      |       |       |      |       |       |
// |       | PLAY| MUTE| VOL- | VOL+ |      |       |   |       |      |       |       |      |       |       |
//                     |      |      |      |       |   |       |      |       |       |
            bindings = <
&trans &kp F1     &kp F2     &kp F3       &kp F4       &kp F5                     &kp F6   &kp F7   &kp F8   &kp F9   &kp F10   &trans
&trans &trans     &trans     &trans       &trans       &trans                     &kp F11  &kp F12  &trans   &trans   &kp PSCRN &trans
&trans &kp C_PREV &kp C_NEXT &trans       &trans       &trans                     &trans   &trans   &trans   &trans   &trans    &trans
&trans &kp C_PP   &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans    &trans
                             &trans       &trans       &trans   &trans   &trans   &trans   &trans   &trans
            >;
        };
    };
};

